@import "tailwindcss";

/* Trong globals.css hoặc app.css */
.swiper-button-next,
.swiper-button-prev {
  color: #9afbf3 !important;
}
.fp-watermark {
  display: none !important;
}
.swiper .swiper-slide {
  box-shadow: none !important;
}

.swiper-cards .swiper-slide-shadow {
  display: none !important;
}

.swiper-cards .swiper-slide::before,
.swiper-cards .swiper-slide::after {
  box-shadow: none !important;
  background: none !important;
}

